# Better auth
BETTER_AUTH_URL=http://localhost:3000
# This can be generated using `bunx auth@latest secret`
BETTER_AUTH_SECRET="replace-me-with-a-generated-secret"

# GOOGLE AUTH
GOOGLE_CLIENT_ID=<token>.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=<secret>

# Stripe 
STRIPE_SECRET_KEY=sk_<token>
STRIPE_WEBHOOK_SECRET=wh...
STRIPE_MONTHLY_PRICE_ID="price_1Tf1vYALhqiuNghCOtyX0Itr"
STRIPE_YEARLY_PRICE_ID="price_1Tf1vzALhqiuNghCNySNHGBe"

# RESEND
RESEND_API_KEY=re_....
# this email is used for testing purposes. On a real project, another server would be used
RESEND_EMAIL_FROM=onboarding@resend.dev

# The session secret used for encrypting server session cookies
# This can be generated using `openssl rand -base64 32`
SESSION_SECRET="replace-me-with-a-32+char-generated-secret!!"

# The DB connection
# The current config will use a local SQLite file
DATABASE_URL=file:dev.db
DATABASE_AUTH_TOKEN=""

# The medicines URL
MEDICINES_API_URL="https://medicines-api--Joseevb.replit.app/api-docs/json"

# The app title
VITE_APP_TITLE="HealFlow"
